.Rproj.user
.Rhistory
.RData

*.html
*.txt

about_me.Rmd
archive.Rmd
biostatistics.Rmd
CNAME
favicon.ico
index.Rmd
publications.Rmd

.nojekyll
_site.yml

images/
css/
_includes/
_templates/
_site/
_data/publications.csv
_data/publications.R
*_cache/

_data/.DS_Store
.DS_Store
